#app-container{
  font-family: "Futura";
  width: 800px;
}

.top {
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.top span{
  color: grey;
  font-size: 14px;
}
.user-buttons{
  padding: 10px;
}
.user-buttons button{
  padding: 6px 12px;
  border: 2px solid rgb(205,92,92);
  color: white;
  font-size: 14px;
  background: rgb(205,92,92);
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 10px;
}
.user-buttons input{
  border: none;
  border-bottom: 1px solid grey;
  color:grey;
}
